{% extends 'base.html' %}
{% block title %}content of {{ article.id }}{% endblock %}
{% block content %}
    <div class = "row text-center vertical-middle-sm">
    <h1>{{ article.title }}</h1>
    </div>
     <div class = "row">
        <div class = "col-xs-12 col-md-8">
            <p class = 'text-center'>
                <span>{{ article.author.username }}</span>
                <span style="margin-left: 20px">{{ pu }}</span>
            </p>
            <div>{{ article.body}}</div>
        </div>
     <div class = "col-xs-6 col-md-4">
            <h2>广告</h2>
            <p>Even try.Even fail,No matter,Do again,Do better,Fail better. </p>
            <img src="http://pic.sc.chinaz.com/files/pic/pic9/201803/bpic6216.jpg" width="100px">
        </div>
     </div>
{% endblock %}