<div class="pagination align-center">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">Previous</a>
        {% endif %}

    <span class="current">
        Page {{ page.number }} of {{ page.paginator.num_pages }}
    </span>
        {% if page.has_next %}
             <a href="?page={{ page.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
{#方案二#}
<div class="pagination">
<nav>
<ul class="pagination">
{% if page.has_previous %}
<li class="">
<a href="?page={{ page.previous_page_number }}" aria-label="Previous">
<span aria_hidden="true">&laquo;</span>
</a>
</li>
{% endif %}
{% for page_num in page.paginator.page_range %}
{#{% guess_page page.number page_num %}#}
{% if page_num == page.number %}
<li class="active"><a href="?page={{ page_num }}">{{page_num}}</a> </li>
{% else %}
<li class=""><a href="?page={{ page_num }}">{{page_num}}</a> </li>
{% endif %}
{% endfor %}
{% if page.has_next %}
<li class="">
<a href="?page={{ page.next_page_number }}" aria-label="Next">
<span aria_hidden="true">&raquo;</span>
</a>
</li>
{% endif %}
</ul>
</nav>
</div>